ul {
    max-width: 900px;
    margin: 2em 0 3em 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

ul li {
    list-style-type: none;
}

ul li a {
    display: flex;
    gap: 1em;
}

ul li a img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
}