<!doctype html>
<html lang="en">{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" >
    <link rel="stylesheet" href="{% static 'school/pico.min.css' %}">
    <link rel="stylesheet" href="{% static 'school/main.css' %}">
    <title>{% block school_title %}{% endblock %}</title>
    <meta name="description" content="{% block school_desc %}{% endblock %}">
  </head>
  <body>
    <main class="container">
      {% block school_base %}{% endblock %}
    </main>
  </body>
</html>